{% set activeCv = '' %} {% set activeHome = '' %} {% set activeMy2048 = '' %} {%
set activeTurf = 'active' %} {% extends 'base.html.twig' %} {% block title %}Le
quinté!{% endblock %} {% block stylesheets %}
{{ encore_entry_link_tags("app") }}{% endblock %} {% block body %}
<div class="header-turf container">
  <span class="title row container">
    <p class="col-1">R{{ head.meeting }} C{{ head.race }}</p>
    <p class="col-8">{{ head.name }}</p>
    <p class="col-2">
      {{ head.day }}<br />
      {{ head.hour }}
    </p>
  </span>
  <div class="row description container">
    <p>{{ head.conditions }}</p>
  </div>
</div>
<div class="container">
  <table class="table container">
    <thead class="thead-dark">
      <tr class="row">
        <th class="col">Numéro</th>
        <th class="col">Nom</th>
        {% if head.discipline is same as('PLAT') %}
        <th class="col">Corde</th>
        {% endif %} {% if head.discipline == 'ATTELE' %}
        <th class="col">Distance</th>
        {% endif %}
        <th class="col">Age</th>
        <th class="col">Jockey</th>
        <th class="col">Entraineur</th>
        <th class="col">Propriétaire</th>
        <th class="col">Gain</th>
        {% if body[1].rapport is defined %}
        <th class="col">Rapport</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="table-striped">
      {% for key,participant in body %}
      <tr class="row">
        <td class="col">
          {{ key }}
          <img src="{{ participant.logoCasaque }}" alt="logo casaque" />
        </td>
        <td class="col">{{ participant.name | lower }}</td>
        {% if head.discipline == 'PLAT' %}
        <td class="col">{{ participant.corde }}</td>
        {% endif %} {% if head.discipline == 'ATTELE' %}
        <td class="col">{{ participant.distance }}</td>
        {% endif %}
        <td class="col">{{ participant.sexe[:1] }}{{ participant.age }}</td>
        <td class="col">{{ participant.driver | lower }}</td>
        <td class="col">{{ participant.coach | lower }}</td>
        <td class="col">{{ participant.owner | lower }}</td>
        <td class="col">{{ participant.money }} €</td>
        {% if participant.rapport is defined%}
        <td class="col">{{ participant.rapport }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/turf/prono/{{ head.meeting }}/{{ head.race }}/{{ head.day }}">
    Les perfs</a
  >
</div>

{% endblock %} {% block javascripts %}
{{ encore_entry_script_tags("app") }}
{% endblock %}
