{% set activeCv = '' %}
{% set activeHome = '' %}
{% set activeMy2048 = '' %}
{% set activeTurf = 'active' %}
{% extends 'base.html.twig' %}
{% block title %}Les perfs!
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
	<h1>Les Perfs</h1>
	<div class="container-fluid">
		<div class="accordion" id="accordion-perf">
			{% for key,participant in body %}

				<div class="card ">
					<div class="card-header" id="head{{ key }}">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collaps{{ key }}">
								Performances
								{{ participant.name }}
								n°{{ key }}
							</button>
						</h2>
					</div>

					<div id="collapse{{ key }}" class="collapse " aria-labelledby="head{{ key }}" data-parent="#accordion-perf">
						<div class="card-body">
							<div class="card-group border-primary row row-cols-1 row-cols-md-2 g-4">
								{% for vPerfs in participant[1:] %}
									<div class="card  col">
									<div>
										<p>{{ vPerfs.hippodrome|upper }}
											le
											{{ vPerfs.date }}
											{{ vPerfs.discipline }}
										</p>
										<p>Allocation:
											{{ vPerfs.allocation }}
											Distance:
											{{ vPerfs.distance }}
										</p>
										<p>terrain:
											{{ vPerfs.terrain? vPerfs.terrain: "non comuniqué" }}</p>
									</div>
										<table>
											<thead>
												<tr>
													<th>cheval</th>
													<th>place</th>
												</tr>
											</thead>
											<tbody>
												{% for vParticipantPerf in vPerfs.participants %}
														<tr>
															<td>{{ vParticipantPerf.nomCheval|lower }}</td>
													{% if vParticipantPerf.place.place is defined %}
															<td>{{ vParticipantPerf.place.place }}</td>
                                                    {% else %}
                                                             <td>{{ vParticipantPerf.place.statusArrivee }}</td>       
													{% endif %}
														</tr>
												{% endfor %}
											</tbody>
										</table>

									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	
