{% set activeCv = 'active' %} {% set activeHome = '' %} {% set activeMy2048 = ''
%} {% set activeTurf = '' %} {% extends "base.html.twig" %} {% block stylesheets
%}
<link rel="stylesheet" href="{{ asset('css/cv.css') }}" />
{% endblock %} {% block body %}
<section id="head-cv" class="container col-md-12">
  <div class="info-cv col-md-4">
    <div class="block-info">
      <div class="row">
        <img src="{{ asset('images/neewtofavatar.png') }}" alt="Portrait" />

        <p>
          <svg
            width="1em"
            height="1em"
            viewbox="0 0 16 16"
            class="bi bi-phone"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
            />
            <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
          06 92 51 26 14
        </p>
        <p>
          <svg
            width="1em"
            height="1em"
            viewbox="0 0 16 16"
            class="bi bi-envelope"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
            />
          </svg>
          l.despres@netc.fr
        </p>

        <p>
          <svg
            width="1em"
            height="1em"
            viewbox="0 0 16 16"
            class="bi bi-house"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
          3 rue du president wilson 92300 Levallois-perret
        </p>
      </div>
    </div>
  </div>
  <div class="block-description col-md-7">
    <h3><strong>Laurent Després</strong></h3>
    <h5>Développeur PHP/JS/typescript</h5>
    <blockquote>
      <p>
        De la formation et expériences professionnel que je finalise avec la
        formation ironHack web-dev.
      </p>
    </blockquote>
  </div>
</section>
<section id="body-cv" class="container col-md-12">
  <div id="competences" class="col-md-4">
    <div class="col-md-12">
      <h1>Compétences</h1>
      <p>Languages, bibliothèque</p>
      <h6></h6>
      <div class="comp">
        <img
          src="{{ asset('images/logo/php-logo-transparent-15.png') }}"
          alt="Logo"
        />
        <img
          src="{{
            asset('images/logo/IMGBIN_javascript-logo-html-png_SU8gp5h4.png')
          }}"
          alt="Logo"
        />
        <img src="{{ asset('images/logo/html5.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/css3.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/jquery.png') }}" alt="Logo" />
      </div>
      <p>Frameworks</p>
      <div class="comp">
        <img src="{{ asset('images/logo/bootstrap.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/nodejs.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/symfony.png') }}" alt="Logo" />
      </div>
      <p>Base de données</p>
      <div class="comp">
        <img src="{{ asset('images/logo/mariadb.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/mongo.png') }}" alt="Logo" />
      </div>
      <p>Outils logiciel</p>
      <div class="comp">
        <img src="{{ asset('images/logo/git.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/postman.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/swagger.png') }}" alt="Logo" />
        <img src="{{ asset('images/logo/feedly.png') }}" alt="Logo" />
      </div>
    </div>
  </div>
  <div id="experience" class="accordion col-md-7">
    <div class="card col-md-12">
      <div class="card-header" id="heading4">
        <h3>février 2021 à Aujourd'hui</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-expanded="true"
            aria-controls="collapse4"
          >
            <strong>Web développeur javascript</strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>IronHack Paris 75011</h2>
      </div>

      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>
              <img
                src="{{ asset('images/logo/nodejs.png') }}"
                alt="Logo"
                style="background-color: whitesmoke"
              />
              Spécialisation vers une stack MERN (MongoExpressReactNode) >
            </li>
            <li>
              <img
                src="{{ asset('images/logo/IHlogo_new_blue.png') }}"
                alt="Logo"
                style="background-color: whitesmoke"
              />
              <a
                href="https://www.ironhack.com/fr/developpement-web/paris#parttime"
              >
                Infos sur le bootcamp</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-12">
      <div class="card-header" id="heading3">
        <h3>fin septembre 2020 à décembre 2020</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="true"
            aria-controls="collapse3"
          >
            <strong>Développeur informatique </strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>RetailOptimizationSystems</h2>
      </div>

      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>
              <img
                src="{{ asset('images/logo/nodejs.png') }}"
                alt="Logo"
                style="background-color: whitesmoke"
              />

              Montée en compétences javascript typescript react meteor.
            </li>

            <li>Création de test unitaiure a l'aide mocha et chai</li>
            <li>Création de module de tris et calcule de données</li>
            <li>Création de données fictive pour le développement</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-12">
      <div class="card-header" id="headingOne">
        <h3>février 2020 à août 2020</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <strong>Développeur php js </strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>Open Atlas</h2>
      </div>

      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>
              <img
                src="{{
                  asset('images/logo/MediaWiki_logo_without_tagline.png')
                }}"
                alt="Logo"
              />
              <img
                src="{{ asset('images/logo/GitLab_Logo.svg.png') }}"
                alt="Logo"
              />
              <a
                href="https://gitlab.adullact.net/pixelhumain/interop/-/tree/lotikdev"
                target="_blank"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-link"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                  />
                </svg>
                Intéropérabilité API mediawiki, gitlab</a
              >
            </li>
            <li>
              <img
                src="{{ asset('images/logo/nodejs.png') }}"
                alt="Logo"
                style="background-color: whitesmoke"
              />
              <a
                href="https://gitlab.adullact.net/pixelhumain/api2/-/tree/lotikdev"
                target="_blank"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-link"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                  />
                </svg>
                Création API en nodejs avec authentification jwt token</a
              >
            </li>
            <li>
              <img src="{{ asset('images/logo/openapi.png') }}" alt="Logo" />
              <a
                href="https://gitlab.adullact.net/pixelhumain/api2/-/blob/master/openapi.yaml"
                target="_blank"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-link"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                  />
                </svg>
                Outils documentation OpenApi (swagger)</a
              >
            </li>
            <li>Intégration Markdown externe et video Youtube sur le site</li>
            <li>
              <img src="{{ asset('images/logo/postman.png') }}" alt="Logo" />
              <a
                href="https://gitlab.adullact.net/pixelhumain/api2/-/blob/master/API2.postman_collection.json"
                target="_blank"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-link"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                  /></svg
                >Logiciel Postman (création de tests)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-12">
      <div class="card-header" id="headingTwo">
        <h3>septembre 2019 à février 2020</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <strong>Développeur fullstack </strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>EPITECH</h2>
      </div>

      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>
              Progammation: PHP, C, JAVASCRIPT, JQUERY, HTML5, CSS3, PYTHON,
              REACT, SQL
            </li>
            <li>Frameworks: Symfony, Yii , nodejs, Flask, bootstrap</li>
            <li>Méthodes agiles: SCRUM</li>
            <li>Outils: Git (cli), GitLab</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-12">
      <div class="card-header" id="headingThree">
        <h3>mai 2019 à août 2019</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="true"
            aria-controls="collapseThree"
          >
            <strong>Cours MOOC </strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>En ligne</h2>
      </div>

      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>PHP, Bash, web, docker, SQL, Linux, nginx, apache</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-12">
      <div class="card-header" id="headingFour">
        <h3>mai 2018 à avril 2019</h3>
        <h2>
          <button
            class="btn btn-link btn-block text-center"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
          >
            <strong>Maintenicien en micro-informatique et réseaux </strong>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-down-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                fill-rule="evenodd"
                d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"
              />
              <path
                fill-rule="evenodd"
                d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
          </button>
        </h2>
        <h2>IPI Campus Réunion</h2>
      </div>

      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#experience"
      >
        <div class="card-body">
          <ul>
            <li>Maintenance PCs et réseaux linux, bash, ubuntu, debian.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
