{% set activeCv = '' %} {% set activeHome = 'active' %} {% set activeMy2048 = ''
%} {% set activeTurf = '' %} {% extends "base.html.twig" %} {% block body %}
<div class="container">
  <h2>Bienvenue chez lo!</h2>
  <p>
    Ce site est pour moi un outil d'expérimentation et d'apprentissage continu.
    J'y regroupe des projets perso, pour le moment vous pouvez jouer au 2048, et
    aimant les courses de chevaux vous avez le quinté du jour, avec les
    performances de chaque concurrent. Je n'y consacre pas tout le temps que je
    voudrais, mais je fais de mon possible.
  </p>
</div>
{% endblock %}
