{% set activeCv = '' %} {% set activeHome = '' %} {% set activeMy2048 = 'active'
%} {% set activeTurf = '' %} {% extends "base.html.twig" %} {% block stylesheets
%}
<link rel="stylesheet" href="{{ asset('css/2048.css') }}" />
{% endblock %} {% block body %}
<div id="games">
  <h2 class="title">My 2048</h2>
  <ul id="menu-game" class="nav justify-content-center">
    <li class="nav-item">
      <a type="button" class="nav-link choice" href="#" id="classique"
        >Classique</a
      >
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <a
          class="nav-link"
          href="#"
          id="custom"
          type="button"
          data-toggle="dropdown"
          aria-expanded="false"
          >Custom</a
        >
        <ul class="dropdown-menu" aria-labelledby="custom">
          <li>
            <h6 class="dropdown-header">
              Choisissez un nombre de rangées et colones <br />(min 2, max 12)
            </h6>
          </li>
          <div class="px-4 py-3">
            <div class="mb-3">
              <label for="nb-row" class="form-label">Rangées</label>
              <input
                type="number"
                class="form-control"
                id="nb-row"
                min="2"
                max="12"
              />
            </div>
            <div class="mb-3">
              <label for="nb-col" class="form-label">Colonnes</label>
              <input
                type="number"
                class="form-control"
                id="nb-col"
                min="2"
                max="12"
              />
            </div>
            <a type="button" class="btn btn-primary choice" id="submit-custom"
              >Jouer</a
            >
          </div>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a type="button" class="nav-link choice" href="#" id="prefer"
        >Mon préféré</a
      >
    </li>
  </ul>
</div>
<div id="gameOver"></div>

{% endblock %} {% block javascripts %}
{{ encore_entry_script_tags("app") }}
{% endblock %}
