@font-face {
    font-family: 'Ubuntu-R';
    src: url(../police/Ubuntu-R.ttf);
}

html {
    font-family: "Ubuntu-R", sans-serif;
}

h2 {
    color: rgb(47, 35, 35);
    border: 3px solid grey;
    border-radius: 3px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}


/*gameboard*/

.map {
    background-color: grey;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gameboard {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.2rem;
}
.map>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.2rem
}
.map>div>div {
    height: 4rem;
    width: 4rem;
    font-size: 1.75rem;
    padding-top: 0.5rem;
    text-align: center;
    background-color: rgb(216, 156, 156);
    border-radius: 8px;
    margin-left: 0.4rem;
}

/* div[line] {
    background-color: grey;
    box-sizing: border-box;
} */

/* div[case] {
    border: 3px solid grey;
    background-color: rgb(189, 167, 167);
    border-radius: 10px;
    box-sizing: border-box;
}

div.val {
    z-index: 1;
    color: #444242;
    background-color: rgb(216, 156, 156);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

div.zero {
    color: #444242;
    background-color: rgb(216, 156, 156);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

div.v2 {
    background-color: rgb(216, 156, 156);
}

div.v4 {
    background-color: rgb(219, 119, 119);
}

div.v8 {
    background-color: rgb(182, 81, 81);
}

div.v16 {
    background-color: rgb(204, 192, 121);
}

div.v32 {
    background-color: rgb(224, 203, 83);
}

div.v64 {
    background-color: rgb(204, 201, 45);
}

div.v128 {
    background-color: rgb(156, 216, 216);
    font-size: 3em;
    box-sizing: border-box;
    padding-top: 15%;
}

div.v256 {
    background-color: rgb(85, 179, 166);
    font-size: 3em;
    box-sizing: border-box;
    padding-top: 15%;
}

div.v512 {
    background-color: rgb(42, 187, 180);
    font-size: 3em;
    box-sizing: border-box;
    padding-top: 15%;
}

div.v1024 {
    background-color: rgb(63, 52, 52);
    font-size: 2.5em;
    color: lightcoral;
    box-sizing: border-box;
    padding-top: 15%;
}

div.v2048 {
    background-color: rgb(14, 11, 11);
    font-size: 3em;
    color: lightcoral;
    box-sizing: border-box;
    padding-top: 15%;
} */
        /* .score {
            max-width: 400px;
            color: rgb(134, 125, 125);
            border: 3px solid grey;
            border-radius: 3px;
            text-align: center;
            margin: auto;
        }
        
        .gameOver {
            border: 1px solid grey;
            width: 425px;
            height: 425px;
            background-color: rgba(223, 70, 70, 0.37);
            border-radius: 5px;
            color: rgba(47, 9, 17, 0.76);
        } */