#head-cv {
    display: flex;
    flex-direction: row;
}
section {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin: 5%;
    padding: 5%;
    padding: auto;

    border-left: 3px solid rgb(75, 107, 153);
    border-bottom: 3px solid rgb(75, 107, 153);
    border-radius: 30px;
}
.info-cv {
    padding-left: 5%;
}

.block-info {
    display: flex;
    flex-direction: column;
}

.block-info>div>p {
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(75, 107, 153), transparent);
}

.block-info>div>img {
    max-width: 255px;
    max-height: 170px;
    border-radius: 70%;
    margin-bottom: 5px;
}

.block-description {
    text-align: center;
    margin: auto;
    width: 75%;
}
.block-description>h3 {
    color: mediumseagreen;
}

blockquote {
    border-radius: 5px;
    background-color: transparent;
}

blockquote p {
    margin: 5px;
}
#body-cv {
    display: flex;
    flex-direction: row;
}
/*block competence*/

#competences {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#competences>div {
    margin: auto;
}

#competences div h1 {
    font-size: 2rem;
    color: mediumseagreen;
}
#competences div h1 {
    font-size: 2rem;
}

.comp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: 3%;
}

.comp p {
    flex: 0 0 40%;
    margin-bottom: 2px;
}



/*block éxpériences*/



.card-header>h3 {
    border-radius: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(75, 107, 153), transparent);
    font-size: 0.9em;
    text-align: left;
    padding-left: 5px;
}

.card-header>h2 {
    border-radius: 5px;
    background-image: linear-gradient(to left, rgb(75, 107, 153), transparent);
    font-size: 1.3em;
    text-align: right;
    padding-right: 5px;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.card {
    background-color: rgb(132, 158, 195) !important;
    border: none !important;
}

.card-header, .card-body {
    background-color: rgb(132, 158, 195) !important;
    border: none !important;
}
.card-body>ul>li {
    border-bottom: 2px solid rgb(75, 107, 153);
    padding-left: 5%;
    margin-top: 5px;
}
.card-body>ul>li>a {
    text-decoration: none;
    color: #333333;
}
li {
    list-style-type: none;
}
.comp>img {
    height: 50px;
    width: 50px;
    margin: auto 3% 3% auto;
}
li>img {
    height: 30px;
    width: 30px;
    margin: auto 3% 3% auto;
}
/*animation*/

@media (max-width: 770px) {
    #head-cv, #body-cv {
        display: flex;
        flex-direction: column;
    }
    
}