#gen-header {
    margin: 5px 5px 20px;
    display: flex;
}

#gen-header div {
    background-color: rgb(132, 158, 195);
    border-radius: 5px;
}

header>div>nav>a {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-right: 5px;
}

#nav-logo {
    margin: auto auto 5px 5px;
}