.header-turf {
  margin: auto;
  padding: 10px;
  color: #1b1e21;
  background-image: linear-gradient(to right, rgb(75, 107, 153), transparent);
  border: 3px solid rgb(75, 107, 153);
  border-radius: 5px;
}

.header-turf > .title > p,
.header-turf > .title > h4,
.header-turf > .description {
  border: 3px solid black;
  border-radius: 5px;
  overflow-block: hidden;
}
.header-turf > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
table {
  font-size: 0.8rem;
}
td > img {
  max-height: 1.2rem;
  max-width: 1.2rem;
}
.card-group {
  font-size: 0.7rem;
}
.card-body {
  display: flex;
  justify-content: space-around;
}
.card > table {
  font-size: 0.7rem;
}
.accordion {
  box-sizing: border-box;
}
