<header id="gen-header" class="row">
		<div class="container-fluid col-md-12" myname="lotik">
			<nav class="navbar navbar-light col-md-12 ">
				<a id="nav-logo" class="navbar-brand col-md-2" href="/">
					<img src="{{ asset('images/favicon.ico') }}" width="35" height="30"
						class="d-inline-block align-top" alt="avatar" loading="lazy">
					{{ page }}
				</a>

				<a href="/home" class="btn btn-sm btn-outline-dark col-md-2 {{ activeHome }}" type="button">Home</a>
				<a href="/cv" class="btn btn-sm btn-outline-dark col-md-2 {{ activeCv }}" type="button">A propos</a>
				<a href="/my2048" class="btn btn-sm btn-outline-dark col-md-2 {{ activeMy2048 }}"
					type="button">My2048</a>
				<a href="/turf" class="btn btn-sm btn-outline-dark col-md-2 {{ activeTurf }}" type="button">Turf prono</a>


			</nav>
		</div>
	</header>